.blog-post {
    margin-bottom: 2%;
  }
  .blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
  }
  .blog-post-meta {
    margin-bottom: 20px;
    color: #999;
  }
small.text-muted{
    text-align: right;
}
small { display: block }
.shadow-sm{
  padding: 3%;
}